Repository Open-Attestation/open-attestation: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run generate-v4-json-schemas, git add src/4.0/jsonSchemas/__generated__, eslint --fix

.lintstagedrc:

{
    "src/4.0/types.ts": ["npm run generate-v4-json-schemas", "git add src/4.0/jsonSchemas/__generated__"],
    "*.{js,ts}": "eslint --fix"
}

fix: revocation support (#285)
  .husky/pre-commit
  .husky/pre-push
  .lintstagedrc
  package-lock.json
  package.json
  src/4.0/__tests__/documentBuilder.test.ts
  src/4.0/documentBuilder.ts
  src/4.0/jsonSchemas/__generated__/v4-document.schema.json
  src/4.0/jsonSchemas/__generated__/v4-signed-wrapped-document.schema.json
  src/4.0/jsonSchemas/__generated__/v4-wrapped-document.schema.json
  src/4.0/types.ts
Due: npm run generate-v4-json-schemas, git add src/4.0/jsonSchemas/__generated__, eslint --fix

Notes added by 'git notes add'
  3d585caf713ee2a6695ab5460023dcb30ee0c9ce
Due: none

fix: clean up hashing utils from utils and fix brokenreferences
  src/shared/utils/__tests__/utils.test.ts
  src/shared/utils/index.ts
  src/shared/utils/utils.ts
Due: eslint --fix

feat: remove the need to polyfill manually in browser envs
  package-lock.json
  package.json
  src/2.0/wrap.ts
  src/3.0/wrap.ts
  src/4.0/salt.ts
  src/4.0/wrap.ts
  src/shared/merkle/merkle.ts
  src/shared/utils/hashing.ts
Due: eslint --fix

fix: test
  src/shared/utils/__tests__/utils.test.ts
Due: eslint --fix

Notes added by 'git notes add'
  d4e4573ee43c2fc8f02885481a9da8ac2039a683
Due: none

fix: remove use of crypto completely
  src/3.0/salt.ts
Due: eslint --fix

fix: import buffer based on docs
  src/shared/utils/hashing.ts
Due: eslint --fix

chore: improve handle bar template description
  src/4.0/documentBuilder.ts
Due: eslint --fix

fix: only add render method if its defined
  src/4.0/documentBuilder.ts
Due: eslint --fix

fix: missing svg renderer props and no renderer method
  src/4.0/__tests__/documentBuilder.test.ts
  src/4.0/documentBuilder.ts
Due: eslint --fix

Notes added by 'git notes add'
  7a1e2f7ec35b8f27eff4f9002bd09aeb7df7bd50
Due: none

fix: improved descriptions on documentLoader's interface
  src/4.0/documentBuilder.ts
Due: eslint --fix

fix: improving naming and description
  src/4.0/__tests__/documentBuilder.test.ts
  src/4.0/documentBuilder.ts
Due: eslint --fix

fix: rendering methods (#287)
  src/4.0/__tests__/documentBuilder.test.ts
  src/4.0/documentBuilder.ts
Due: eslint --fix

Notes added by 'git notes add'
  08cba76b826d8b30f83e4283840cead613254100
Due: none

feat: computeDigestMultibase
  package-lock.json
  package.json
  src/4.0/computeDigestMultibase.ts
  src/4.0/exports/utils.ts
Due: eslint --fix

feat: computeDigestMultibase (#288)
  package-lock.json
  package.json
  src/4.0/computeDigestMultibase.ts
  src/4.0/exports/utils.ts
Due: eslint --fix

Notes added by 'git notes add'
  5c06193ccf01f8e73a70fdc2d9ebd4ac217da4b6
Due: none

fix: only generate json fixtures when fixtures.ts changes
  .lintstagedrc
  package.json
Due: none

fix: only generate json fixtures when fixtures.ts changes (#289)
  .lintstagedrc
  package.json
Due: none

Notes added by 'git notes add'
  770080aa5e3639e5d120de1826206a79f60b1b8b
Due: none

fix: move attachments into credentialSubject
  src/4.0/__tests__/documentBuilder.test.ts
  src/4.0/__tests__/guard.test.ts
  src/4.0/__tests__/obfuscate.test.ts
  src/4.0/digest.ts
  src/4.0/documentBuilder.ts
  src/4.0/jsonSchemas/__generated__/v4-document.schema.json
  src/4.0/jsonSchemas/__generated__/v4-signed-wrapped-document.schema.json
  src/4.0/jsonSchemas/__generated__/v4-wrapped-document.schema.json
  src/4.0/types.ts
  src/4.0/wrap.ts
  src/shared/@types/document.ts
Due: npm run generate-v4-json-schemas, git add src/4.0/jsonSchemas/__generated__, eslint --fix

fix: move attachments into credentialSubject (#290)
  src/4.0/__tests__/documentBuilder.test.ts
  src/4.0/__tests__/guard.test.ts
  src/4.0/__tests__/obfuscate.test.ts
  src/4.0/digest.ts
  src/4.0/documentBuilder.ts
  src/4.0/jsonSchemas/__generated__/v4-document.schema.json
  src/4.0/jsonSchemas/__generated__/v4-signed-wrapped-document.schema.json
  src/4.0/jsonSchemas/__generated__/v4-wrapped-document.schema.json
  src/4.0/types.ts
  src/4.0/wrap.ts
  src/shared/@types/document.ts
Due: npm run generate-v4-json-schemas, git add src/4.0/jsonSchemas/__generated__, eslint --fix

Notes added by 'git notes add'
  78ab9df6c090830f927265ec56e2d6e9f0c7b803
Due: none

fix: renamed document
  scripts/generateV4JsonSchemas.ts
  src/4.0/__tests__/e2e.test.ts
  src/4.0/__tests__/guard.test.ts
  src/4.0/__tests__/obfuscate.test.ts
  src/4.0/__tests__/wrap.test.ts
  src/4.0/diagnose.ts
  src/4.0/documentBuilder.ts
  src/4.0/exports/types.ts
  src/4.0/exports/utils.ts
  src/4.0/fixtures.ts
  src/4.0/sign.ts
  src/4.0/types.ts
  src/4.0/wrap.ts
  src/index.ts
  src/shared/@types/document.ts
  src/shared/utils/guard.ts
  src/shared/utils/utils.ts
  src/shared/validate/validate.ts
Due: npm run generate-v4-json-schemas, git add src/4.0/jsonSchemas/__generated__, eslint --fix

fix: renamed document (#291)
  scripts/generateV4JsonSchemas.ts
  src/4.0/__tests__/e2e.test.ts
  src/4.0/__tests__/guard.test.ts
  src/4.0/__tests__/obfuscate.test.ts
  src/4.0/__tests__/wrap.test.ts
  src/4.0/diagnose.ts
  src/4.0/documentBuilder.ts
  src/4.0/exports/types.ts
  src/4.0/exports/utils.ts
  src/4.0/fixtures.ts
  src/4.0/sign.ts
  src/4.0/types.ts
  src/4.0/wrap.ts
  src/index.ts
  src/shared/@types/document.ts
  src/shared/utils/guard.ts
  src/shared/utils/utils.ts
  src/shared/validate/validate.ts
Due: npm run generate-v4-json-schemas, git add src/4.0/jsonSchemas/__generated__, eslint --fix

Notes added by 'git notes add'
  f416085319f49c73fbd0f56e4acada10ee47e334
Due: none

fix: obfuscate typing refused to accept document that could be multiple version
  src/index.ts
Due: eslint --fix

fix: improve consistency of utils guard
  src/index.ts
  src/shared/utils/guard.ts
  src/shared/utils/utils.ts
Due: eslint --fix

fix: simplify obfuscateVerifiableCredential typing
  src/4.0/obfuscate.ts
Due: eslint --fix

fix: obfuscate typing and guard exports (#292)
  src/4.0/obfuscate.ts
  src/index.ts
  src/shared/utils/guard.ts
  src/shared/utils/utils.ts
Due: eslint --fix

Notes added by 'git notes add'
  facd046d467162da6391edea8196b7dbe5f704f5
Due: none

fix: obfuscation return type should still have a compliant attachment array
  src/4.0/obfuscate.ts
Due: eslint --fix

refactor: mark v3 functions as deprecated
  src/3.0/digest.ts
  src/3.0/obfuscate.ts
  src/3.0/salt.ts
  src/3.0/sign.ts
  src/3.0/traverseAndFlatten.ts
  src/3.0/types.ts
  src/3.0/verify.ts
  src/3.0/wrap.ts
  src/index.ts
  src/shared/@types/wrap.ts
Due: eslint --fix

fix: improve typing more
  src/4.0/obfuscate.ts
Due: eslint --fix
