Repository Open-Attestation/open-attestation: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run generate-v4-json-schemas, git add src/4.0/jsonSchemas/__generated__, npm run generate-v4-fixtures, git add test/fixtures/v4/__generated__, eslint --fix

fix: package.json & package-lock.json to reduce vulnerabilities
  package-lock.json
  package.json
Due: none

fix: accept application/ld+json when fetching context
  src/3.0/validate/validate.ts
Due: eslint --fix

fix: accept application/ld+json when fetching context (#307)
  src/3.0/validate/validate.ts
Due: eslint --fix

Notes added by 'git notes add'
  f783b3cb6b6218f5eae2ef07789d92bdeb502f7c
Due: none

chore: bump ethers to v6
  package-lock.json
  package.json
Due: none

fix: migrate breaking v5 breaking fns
  src/2.0/__tests__/sign.test.ts
  src/3.0/__tests__/sign.test.ts
  src/index.ts
  src/shared/@types/document.ts
  src/shared/signer/signatureSchemes/Secp256k1VerificationKey2018/Secp256k1VerificationKey2018.ts
  src/shared/utils/diagnose.ts
Due: eslint --fix

chore: use v5 signer and wallet from ethers sub module
  package-lock.json
  package.json
  src/2.0/__tests__/sign.test.ts
  src/2.0/sign.ts
  src/3.0/__tests__/sign.test.ts
  src/3.0/sign.ts
  src/index.ts
  src/shared/@types/sign.ts
  src/shared/signer/signatureSchemes/Secp256k1VerificationKey2018/Secp256k1VerificationKey2018.ts
  src/shared/signer/signer.ts
Due: eslint --fix

fix: readme
  README.md
  src/shared/signer/signatureSchemes/Secp256k1VerificationKey2018/Secp256k1VerificationKey2018.ts
Due: eslint --fix

chore: use v5 ethers submodules completely
  README.md
  package-lock.json
  package.json
  src/2.0/__tests__/sign.test.ts
  src/2.0/sign.ts
  src/3.0/__tests__/sign.test.ts
  src/3.0/sign.ts
  src/index.ts
  src/shared/@types/document.ts
  src/shared/@types/sign.ts
  src/shared/signer/signatureSchemes/Secp256k1VerificationKey2018/Secp256k1VerificationKey2018.ts
  src/shared/signer/signer.ts
  src/shared/utils/diagnose.ts
Due: eslint --fix

fix: ws security advisory from ethers v5
  README.md
  package-lock.json
  package.json
  src/2.0/__tests__/sign.test.ts
  src/2.0/sign.ts
  src/3.0/__tests__/sign.test.ts
  src/3.0/sign.ts
  src/index.ts
  src/shared/@types/document.ts
  src/shared/@types/sign.ts
  src/shared/signer/signatureSchemes/Secp256k1VerificationKey2018/Secp256k1VerificationKey2018.ts
  src/shared/signer/signer.ts
  src/shared/utils/diagnose.ts
Due: eslint --fix

Notes added by 'git notes add'
  239bdba958f79e7f5b0b2f273cc57c00e24379fa
Due: none

fix: install command to target beta release (#299)
  README.md
Due: none

feat: new readme for 4.0 (#284)
  README.md
  previous.md
Due: none

Notes added by 'git notes add'
  97be5a51f8d7b06e9d72c442e7cc68fb2c23bef7
Due: none

Notes removed by 'git notes remove'
  97be5a51f8d7b06e9d72c442e7cc68fb2c23bef7
Due: none

Notes added by 'git notes add'
  01de5a31d766fc1f312e1e8c699f481977d84ce4
Due: none

refactor: improve naming of context keys
  src/4.0/context.ts
  src/4.0/types.ts
  src/4.0/wrap.ts
  src/shared/utils/utils.ts
  src/shared/validate/validate.ts
Due: npm run generate-v4-json-schemas, git add src/4.0/jsonSchemas/__generated__, eslint --fix

fix(optional): loosely match against oa v4 context url
  src/4.0/jsonSchemas/__generated__/v4-document.schema.json
  src/4.0/jsonSchemas/__generated__/v4-signed-wrapped-document.schema.json
  src/4.0/jsonSchemas/__generated__/v4-wrapped-document.schema.json
  src/4.0/types.ts
Due: npm run generate-v4-json-schemas, git add src/4.0/jsonSchemas/__generated__, eslint --fix

chore: finalise oa v4 context url
  src/4.0/context.ts
Due: eslint --fix

fix: document builder to reference context constants
  src/4.0/documentBuilder.ts
Due: eslint --fix

docs: update context url in readme
  README.md
Due: none

test: update v4.0 test fixtures
  src/4.0/__tests__/digest.test.ts
  src/4.0/__tests__/e2e.test.ts
  src/4.0/__tests__/obfuscate.test.ts
  src/4.0/__tests__/sign.test.ts
  src/4.0/__tests__/wrap.test.ts
  src/4.0/fixtures.ts
  test/fixtures/v4/__generated__/batched-raw-documents-did.json
  test/fixtures/v4/__generated__/batched-signed-wrapped-documents-did.json
  test/fixtures/v4/__generated__/batched-wrapped-documents-did.json
  test/fixtures/v4/__generated__/raw-document-did-oscp.json
  test/fixtures/v4/__generated__/raw-document-did.json
  test/fixtures/v4/__generated__/sample-signing-keys.json
  test/fixtures/v4/__generated__/signed-wrapped-document-did-obfuscated.json
  test/fixtures/v4/__generated__/signed-wrapped-document-did-oscp.json
  test/fixtures/v4/__generated__/signed-wrapped-document-did.json
  test/fixtures/v4/__generated__/wrapped-document-did-oscp.json
  test/fixtures/v4/__generated__/wrapped-document-did.json
Due: npm run generate-v4-fixtures, git add test/fixtures/v4/__generated__, eslint --fix

fix: revert earlier commit to strictly match oa v4 context url
  src/4.0/jsonSchemas/__generated__/v4-document.schema.json
  src/4.0/jsonSchemas/__generated__/v4-signed-wrapped-document.schema.json
  src/4.0/jsonSchemas/__generated__/v4-wrapped-document.schema.json
  src/4.0/types.ts
Due: npm run generate-v4-json-schemas, git add src/4.0/jsonSchemas/__generated__, eslint --fix

feat: prefetch frequently used contexts in OA v4
  package.json
  scripts/fetchV4Contexts.ts
  src/4.0/context.ts
  src/4.0/contexts/__generated__/https---schemata.openattestation.com-com-openattestation-4.0-context.json
  src/4.0/contexts/__generated__/https---www.w3.org-ns-credentials-v2
Due: eslint --fix

feat: hardcode frequently used contexts instead
  package.json
  scripts/fetchV4Contexts.ts
  src/4.0/context.ts
  src/4.0/contexts/__generated__/https---schemata.openattestation.com-com-openattestation-4.0-context.json
  src/4.0/contexts/__generated__/https---www.w3.org-ns-credentials-v2
  src/4.0/contexts/hardcodedContexts.ts
Due: eslint --fix

feat: use code generation script for frequently used contexts
  package.json
  scripts/fetchV4Contexts.ts
  src/4.0/context.ts
  src/4.0/contexts/__generated__/index.ts
  src/4.0/contexts/hardcodedContexts.ts
Due: eslint --fix

chore: update comment and remove redundant function
  src/4.0/context.ts
Due: eslint --fix

fix: finalise OA v4.0 context url (#311)
  README.md
  package.json
  scripts/fetchV4Contexts.ts
  src/4.0/__tests__/digest.test.ts
  src/4.0/__tests__/e2e.test.ts
  src/4.0/__tests__/obfuscate.test.ts
  src/4.0/__tests__/sign.test.ts
  src/4.0/__tests__/wrap.test.ts
  src/4.0/context.ts
  src/4.0/contexts/__generated__/index.ts
  src/4.0/documentBuilder.ts
  src/4.0/fixtures.ts
  src/4.0/jsonSchemas/__generated__/v4-document.schema.json
  src/4.0/jsonSchemas/__generated__/v4-signed-wrapped-document.schema.json
  src/4.0/jsonSchemas/__generated__/v4-wrapped-document.schema.json
  src/4.0/types.ts
  src/4.0/wrap.ts
  src/shared/utils/utils.ts
  src/shared/validate/validate.ts
  test/fixtures/v4/__generated__/batched-raw-documents-did.json
  test/fixtures/v4/__generated__/batched-signed-wrapped-documents-did.json
  test/fixtures/v4/__generated__/batched-wrapped-documents-did.json
  test/fixtures/v4/__generated__/raw-document-did-oscp.json
  test/fixtures/v4/__generated__/raw-document-did.json
  test/fixtures/v4/__generated__/sample-signing-keys.json
  test/fixtures/v4/__generated__/signed-wrapped-document-did-obfuscated.json
  test/fixtures/v4/__generated__/signed-wrapped-document-did-oscp.json
  test/fixtures/v4/__generated__/signed-wrapped-document-did.json
  test/fixtures/v4/__generated__/wrapped-document-did-oscp.json
  test/fixtures/v4/__generated__/wrapped-document-did.json
Due: npm run generate-v4-json-schemas, git add src/4.0/jsonSchemas/__generated__, npm run generate-v4-fixtures, git add test/fixtures/v4/__generated__, eslint --fix

Notes added by 'git notes add'
  bc629240ea417321e7843c2c7194dbec7684fe44
Due: none

fix: obfuscation of an array element can lead to undefined error
  src/4.0/obfuscate.ts
  src/4.0/traverseAndFlatten.ts
Due: eslint --fix

fix: typo
  src/4.0/obfuscate.ts
Due: eslint --fix

fix: obfuscation of an array element can lead to undefined error (#312)
  src/4.0/obfuscate.ts
  src/4.0/traverseAndFlatten.ts
Due: eslint --fix

Notes added by 'git notes add'
  51d910ee2dd6a5ab780a334563674fb9ff35e0f6
Due: none

feat: update v2 and v4 schema to support LOCAL_PDF_RENDERER
  src/2.0/schema/schema.json
  src/4.0/jsonSchemas/__generated__/v4-document.schema.json
Due: none

feat: allow any credentialStatus for v4
  src/4.0/jsonSchemas/__generated__/v4-document.schema.json
  src/4.0/jsonSchemas/__generated__/v4-signed-wrapped-document.schema.json
  src/4.0/jsonSchemas/__generated__/v4-wrapped-document.schema.json
  src/4.0/types.ts
Due: npm run generate-v4-json-schemas, git add src/4.0/jsonSchemas/__generated__, eslint --fix

chore: initial global search-replace for V4
  src/4.0/__tests__/digest.test.ts
  src/4.0/__tests__/e2e.test.ts
  src/4.0/__tests__/wrap.test.ts
  src/4.0/contexts/__generated__/index.ts
  src/4.0/fixtures.ts
  src/4.0/jsonSchemas/__generated__/v4-signed-wrapped-document.schema.json
  src/4.0/jsonSchemas/__generated__/v4-wrapped-document.schema.json
  src/4.0/types.ts
  src/4.0/wrap.ts
  test/fixtures/v4/__generated__/batched-signed-wrapped-documents-did.json
  test/fixtures/v4/__generated__/batched-wrapped-documents-did.json
  test/fixtures/v4/__generated__/signed-wrapped-document-did-obfuscated.json
  test/fixtures/v4/__generated__/signed-wrapped-document-did-oscp.json
  test/fixtures/v4/__generated__/signed-wrapped-document-did.json
  test/fixtures/v4/__generated__/wrapped-document-did-oscp.json
  test/fixtures/v4/__generated__/wrapped-document-did.json
Due: npm run generate-v4-json-schemas, git add src/4.0/jsonSchemas/__generated__, npm run generate-v4-fixtures, git add test/fixtures/v4/__generated__, eslint --fix

chore: initial global search-replace for V4 (#316)
  src/4.0/__tests__/digest.test.ts
  src/4.0/__tests__/e2e.test.ts
  src/4.0/__tests__/wrap.test.ts
  src/4.0/contexts/__generated__/index.ts
  src/4.0/fixtures.ts
  src/4.0/jsonSchemas/__generated__/v4-signed-wrapped-document.schema.json
  src/4.0/jsonSchemas/__generated__/v4-wrapped-document.schema.json
  src/4.0/types.ts
  src/4.0/wrap.ts
  test/fixtures/v4/__generated__/batched-signed-wrapped-documents-did.json
  test/fixtures/v4/__generated__/batched-wrapped-documents-did.json
  test/fixtures/v4/__generated__/signed-wrapped-document-did-obfuscated.json
  test/fixtures/v4/__generated__/signed-wrapped-document-did-oscp.json
  test/fixtures/v4/__generated__/signed-wrapped-document-did.json
  test/fixtures/v4/__generated__/wrapped-document-did-oscp.json
  test/fixtures/v4/__generated__/wrapped-document-did.json
Due: npm run generate-v4-json-schemas, git add src/4.0/jsonSchemas/__generated__, npm run generate-v4-fixtures, git add test/fixtures/v4/__generated__, eslint --fix

chore: update v3 deprecation message
  src/3.0/digest.ts
  src/3.0/obfuscate.ts
  src/3.0/salt.ts
  src/3.0/sign.ts
  src/3.0/traverseAndFlatten.ts
  src/3.0/types.ts
  src/3.0/verify.ts
  src/3.0/wrap.ts
  src/index.ts
  src/shared/@types/wrap.ts
Due: eslint --fix

Path conditions:
  npm run generate-v4-json-schemas: any of: src/4.0/types.ts
  git add src/4.0/jsonSchemas/__generated__: any of: src/4.0/types.ts
  npm run generate-v4-fixtures: any of: src/4.0/fixtures.ts
  git add test/fixtures/v4/__generated__: any of: src/4.0/fixtures.ts
  eslint --fix: any of: *.{js,ts}
