Repository Open-Attestation/open-attestation: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run generate-v4-json-schemas, git add src/4.0/jsonSchemas/__generated__, npm run generate-v4-fixtures, git add test/fixtures/v4/__generated__, eslint --fix

chore: use correct terminologies like digest and vc
  src/4.0/__tests__/digest.test.ts
  src/4.0/__tests__/documentBuilder.test.ts
  src/4.0/__tests__/e2e.test.ts
  src/4.0/__tests__/guard.test.ts
  src/4.0/__tests__/hash.test.ts
  src/4.0/__tests__/obfuscate.test.ts
  src/4.0/__tests__/salt.test.ts
  src/4.0/__tests__/sign.test.ts
  src/4.0/__tests__/validate.test.ts
  src/4.0/__tests__/wrap.test.ts
  src/4.0/digest.ts
  src/4.0/documentBuilder.ts
  src/4.0/exports/digest.ts
  src/4.0/exports/index.ts
  src/4.0/exports/obfuscate.ts
  src/4.0/exports/sign.ts
  src/4.0/exports/validate.ts
  src/4.0/exports/verify.ts
  src/4.0/exports/wrap.ts
  src/4.0/hash.ts
  src/4.0/obfuscate.ts
  src/4.0/sign.ts
  src/4.0/validate.ts
  src/4.0/wrap.ts
  src/index.ts
Due: eslint --fix

feat: allow both OA and W3C VCs to be digested or signed
  scripts/generateV4JsonSchemas.ts
  src/4.0/__tests__/digest.test.ts
  src/4.0/__tests__/documentBuilder.test.ts
  src/4.0/__tests__/e2e.test.ts
  src/4.0/__tests__/guard.test.ts
  src/4.0/__tests__/hash.test.ts
  src/4.0/__tests__/obfuscate.test.ts
  src/4.0/__tests__/sign.test.ts
  src/4.0/__tests__/validate.test.ts
  src/4.0/diagnose.ts
  src/4.0/digest.ts
  src/4.0/documentBuilder.ts
  src/4.0/exports/builder.ts
  src/4.0/exports/digest.ts
  src/4.0/exports/obfuscate.ts
  src/4.0/exports/sign.ts
  src/4.0/exports/types.ts
  src/4.0/exports/utils.ts
  src/4.0/fixtures.ts
  src/4.0/jsonSchemas/__generated__/v4-digested-oa-vc.schema.json
  src/4.0/jsonSchemas/__generated__/v4-oa-vc.schema.json
  src/4.0/jsonSchemas/__generated__/v4-signed-oa-vc.schema.json
  src/4.0/obfuscate.ts
  src/4.0/sign.ts
  src/4.0/types.ts
  src/4.0/validate.ts
  src/index.ts
  src/shared/@types/document.ts
  src/shared/utils/guard.ts
  src/shared/utils/utils.ts
Due: npm run generate-v4-json-schemas, git add src/4.0/jsonSchemas/__generated__, npm run generate-v4-fixtures, git add test/fixtures/v4/__generated__, eslint --fix

refactor: use vc terminology
  src/4.0/__tests__/digest.test.ts
  src/4.0/__tests__/documentBuilder.test.ts
  src/4.0/__tests__/e2e.test.ts
  src/4.0/__tests__/guard.test.ts
  src/4.0/__tests__/hash.test.ts
  src/4.0/__tests__/obfuscate.test.ts
  src/4.0/__tests__/salt.test.ts
  src/4.0/__tests__/sign.test.ts
  src/4.0/__tests__/validate.test.ts
  src/4.0/digest.ts
  src/4.0/exports/builder.ts
  src/4.0/exports/digest.ts
  src/4.0/exports/sign.ts
  src/4.0/fixtures.ts
  src/4.0/hash.ts
  src/4.0/jsonSchemas/__generated__/v4-digested-oa-vc.schema.json
  src/4.0/jsonSchemas/__generated__/v4-oa-vc.schema.json
  src/4.0/jsonSchemas/__generated__/v4-signed-oa-vc.schema.json
  src/4.0/obfuscate.ts
  src/4.0/sign.ts
  src/4.0/types.ts
  src/4.0/validate.ts
  src/4.0/vcBuilder.ts
  test/fixtures/v4/__generated__/digested-batched-vc-did.json
  test/fixtures/v4/__generated__/digested-vc-did-oscp.json
  test/fixtures/v4/__generated__/digested-vc-did.json
  test/fixtures/v4/__generated__/raw-batched-vc-did.json
  test/fixtures/v4/__generated__/raw-vc-did-oscp.json
  test/fixtures/v4/__generated__/raw-vc-did.json
  test/fixtures/v4/__generated__/signed-batched-vc-did.json
  test/fixtures/v4/__generated__/signed-vc-did-obfuscated.json
  test/fixtures/v4/__generated__/signed-vc-did-oscp.json
  test/fixtures/v4/__generated__/signed-vc-did.json
Due: npm run generate-v4-json-schemas, git add src/4.0/jsonSchemas/__generated__, npm run generate-v4-fixtures, git add test/fixtures/v4/__generated__, eslint --fix

wip
  src/4.0/__tests__/guard.test.ts
  src/4.0/__tests__/hash.test.ts
  src/4.0/__tests__/obfuscate.test.ts
  src/4.0/__tests__/sign.test.ts
  src/4.0/__tests__/validate.test.ts
  src/4.0/diagnose.ts
  src/4.0/digest.ts
  src/4.0/exports/types.ts
  src/4.0/fixtures.ts
  src/4.0/obfuscate.ts
  src/4.0/sign.ts
  src/4.0/types.ts
  src/4.0/validate.ts
  src/4.0/vcBuilder.ts
Due: npm run generate-v4-json-schemas, git add src/4.0/jsonSchemas/__generated__, npm run generate-v4-fixtures, git add test/fixtures/v4/__generated__, eslint --fix

fix: elliptic, cross-spawn audit issues
  package-lock.json
  package.json
Due: none

fix: elliptic, cross-spawn audit issues (#318)
  package-lock.json
  package.json
Due: none

fix: package.json & package-lock.json to reduce vulnerabilities
  package-lock.json
  package.json
Due: none

Notes added by 'git notes add'
  eac33a3042235f2694a8f3cb24322b4b8bfea018
Due: none

fix: make types more granular
  src/4.0/jsonSchemas/__generated__/v4-digested-oa-vc.schema.json
  src/4.0/jsonSchemas/__generated__/v4-oa-vc.schema.json
  src/4.0/jsonSchemas/__generated__/v4-signed-oa-vc.schema.json
  src/4.0/types.ts
Due: npm run generate-v4-json-schemas, git add src/4.0/jsonSchemas/__generated__, eslint --fix

fix: use new types, assert that vc is proofless
  src/4.0/digest.ts
Due: eslint --fix

refactor: bring w3cVc schema definitions tgt
  src/4.0/types.ts
Due: npm run generate-v4-json-schemas, git add src/4.0/jsonSchemas/__generated__, eslint --fix

fix: use new types
  src/4.0/sign.ts
Due: eslint --fix

fix: update references to guards and types
  scripts/generateV4JsonSchemas.ts
  src/4.0/diagnose.ts
  src/4.0/exports/types.ts
  src/4.0/exports/utils.ts
  src/4.0/fixtures.ts
  src/4.0/hash.ts
  src/4.0/salt.ts
  src/4.0/validate.ts
  src/4.0/vcBuilder.ts
  src/shared/utils/guard.ts
  src/shared/utils/utils.ts
Due: npm run generate-v4-fixtures, git add test/fixtures/v4/__generated__, eslint --fix

fix: update references to guards and types
  src/4.0/obfuscate.ts
Due: eslint --fix

fix: tests
  src/4.0/__tests__/digest.test.ts
  src/4.0/__tests__/documentBuilder.test.ts
  src/4.0/__tests__/e2e.test.ts
  src/4.0/__tests__/guard.test.ts
  src/4.0/__tests__/hash.test.ts
  src/4.0/__tests__/obfuscate.test.ts
  src/4.0/__tests__/sign.test.ts
  src/4.0/__tests__/validate.test.ts
Due: eslint --fix

refactor: rename wrap to digest
  src/4.0/digest.ts
Due: eslint --fix

refactor: already checking for proofless data model error in digest
  src/4.0/sign.ts
Due: eslint --fix

fix: naming
  src/4.0/exports/digest.ts
Due: eslint --fix

refactor: reference proofless schema, custom err msg
  src/4.0/types.ts
Due: npm run generate-v4-json-schemas, git add src/4.0/jsonSchemas/__generated__, eslint --fix

fix: builder error shd have digest and sign errors
  src/4.0/vcBuilder.ts
Due: eslint --fix

fix: tests
  src/4.0/__tests__/documentBuilder.test.ts
  src/4.0/__tests__/sign.test.ts
Due: eslint --fix

refactor: oaDigested should mean only digested, and not include signed documents
  src/4.0/__tests__/digest.test.ts
  src/4.0/__tests__/e2e.test.ts
  src/4.0/__tests__/guard.test.ts
  src/4.0/__tests__/obfuscate.test.ts
  src/4.0/digest.ts
  src/4.0/jsonSchemas/__generated__/v4-digested-oa-vc.schema.json
  src/4.0/obfuscate.ts
  src/4.0/types.ts
  src/4.0/vcBuilder.ts
Due: npm run generate-v4-json-schemas, git add src/4.0/jsonSchemas/__generated__, eslint --fix

refactor: useless alias
  src/4.0/exports/types.ts
Due: eslint --fix

fix: suggestions to mix n match (#320)
  scripts/generateV4JsonSchemas.ts
  src/4.0/__tests__/digest.test.ts
  src/4.0/__tests__/documentBuilder.test.ts
  src/4.0/__tests__/e2e.test.ts
  src/4.0/__tests__/guard.test.ts
  src/4.0/__tests__/hash.test.ts
  src/4.0/__tests__/obfuscate.test.ts
  src/4.0/__tests__/sign.test.ts
  src/4.0/__tests__/validate.test.ts
  src/4.0/diagnose.ts
  src/4.0/digest.ts
  src/4.0/exports/digest.ts
  src/4.0/exports/types.ts
  src/4.0/exports/utils.ts
  src/4.0/fixtures.ts
  src/4.0/hash.ts
  src/4.0/jsonSchemas/__generated__/v4-digested-oa-vc.schema.json
  src/4.0/jsonSchemas/__generated__/v4-oa-vc.schema.json
  src/4.0/jsonSchemas/__generated__/v4-signed-oa-vc.schema.json
  src/4.0/obfuscate.ts
  src/4.0/salt.ts
  src/4.0/sign.ts
  src/4.0/types.ts
  src/4.0/validate.ts
  src/4.0/vcBuilder.ts
  src/shared/utils/guard.ts
  src/shared/utils/utils.ts
Due: npm run generate-v4-json-schemas, git add src/4.0/jsonSchemas/__generated__, npm run generate-v4-fixtures, git add test/fixtures/v4/__generated__, eslint --fix

fix: allow digesting and signing of modified oa vcs
  src/4.0/__tests__/digest.test.ts
  src/4.0/__tests__/e2e.test.ts
  src/4.0/digest.ts
  src/4.0/sign.ts
Due: eslint --fix

fix: allow digesting and signing of modified oa vcs (#321)
  src/4.0/__tests__/digest.test.ts
  src/4.0/__tests__/e2e.test.ts
  src/4.0/digest.ts
  src/4.0/sign.ts
Due: eslint --fix

fix: vulnerability from quicktype
  package-lock.json
  package.json
  src/__generated__/.gitignore
  src/__generated__/compiled_schema_non_strict.js
  src/__generated__/compiled_schema_strict.js
  src/__generated__/schema.2.0.ts
  src/__generated__/schema.3.0.ts
  src/__generated__/schema.4.0.ts
Due: eslint --fix

chore: postInstall for quicktype no longer needed
  package.json
  scripts/postInstall.js
Due: eslint --fix

fix: remove rouge 4.0 schema
  src/__generated__/schema.4.0.ts
Due: eslint --fix

fix: remove postinstall in pipeline
  .github/workflows/release.yml
  .github/workflows/tests.yml
Due: none

fix: audit issues quicktype (#322)
  .github/workflows/release.yml
  .github/workflows/tests.yml
  package-lock.json
  package.json
  scripts/postInstall.js
  src/__generated__/.gitignore
  src/__generated__/compiled_schema_non_strict.js
  src/__generated__/compiled_schema_strict.js
  src/__generated__/schema.2.0.ts
  src/__generated__/schema.3.0.ts
Due: eslint --fix

Notes added by 'git notes add'
  f1339e9af90369ca621aaf1cc246bfcada7264ea
Due: none

Notes added by 'git notes add'
  69b78d47cea6a4468adecb14f0b4ebfaba60801c
Due: none

fix: update README in preparation of v4.0
  README.md
Due: none

fix: import and remove npm beta tag
  README.md
Due: none

fix: update README in preparation of OA v4.0 release (#323)
  README.md
Due: none

Notes added by 'git notes add'
  91b93f3be67929527152010aca09ce73086b31ce
Due: none

Path conditions:
  npm run generate-v4-json-schemas: any of: src/4.0/types.ts
  git add src/4.0/jsonSchemas/__generated__: any of: src/4.0/types.ts
  npm run generate-v4-fixtures: any of: src/4.0/fixtures.ts
  git add test/fixtures/v4/__generated__: any of: src/4.0/fixtures.ts
  eslint --fix: any of: *.{js,ts}
